{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">

    {% bootstrap_javascript jquery='full' %}
</head>
<body class="dark-background">
    {% bootstrap_messages %}
    <nav class="navbar navbar-expand-lg navbar-light yellow-background">
  <a class="navbar-brand primary" href="/">Best Beers</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link yellow-background" href="/beers">Beers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link yellow-background" href="/breweries">Breweries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link yellow-background" href="/categories">Categories</a>
      </li>
        <li class="nav-item">
            <a class="nav-link yellow-background" href="/styles">Styles</a>
      </li>
    </ul>
  </div>
</nav>
    {% block content %}
    {% endblock %}
</body>
</html>