{% extends 'base.html' %}


{% block content %}
<table class="table table-striped">
    <thead>
        <tr style="color: #f9d094;">
            <th>Name</th>
            <th>Brewery</th>
            <th>Category</th>
            <th>Style</th>
            <th>Alcohol by Volume</th>
        </tr>
    </thead>
    {% for beer in beers %}
        <tr style="color: #f9d094;">
            <th scope="row">{{ beer.name }}</th>
            <td>{{ beer.brewery_id }}</td>
            <td>{{ beer.cat_id }}</td>
            <td>{{ beer.style_id }}</td>
            <td>{{ beer.alcohol_by_volume }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}