{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
        <tr style="color: #f9d094;">
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Website</th>
        </tr>
    </thead>
    {% for brewery in breweries %}
        <tr style="color: #f9d094;">
            <th scope="row">{{ brewery.name }}</th>
            <td>{{ brewery.address }}</td>
            <td>{{ brewery.city }}</td>
            <td>{{ brewery.state }}</td>
             <td>{{ brewery.country }}</td>
            <td><a href="{{ brewery.website }}"> {{ brewery.website }}</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}